#banner {
  background-image: image-url('background.jpg');
  background-size: cover;
  color: white;
  height: 650px;
  padding: 150px 0;
  position: relative;
  h1 {
    font-size: 70px;
    font-weight: 500;
    font-weight: 100;
  }
  p {
    font-size: 25px;
    font-weight: 100;
  }
}


#pricing {
  padding: 150px 0;
  h1 {
    text-align: center;
    padding: 50px;
  }
}
